
:root {
  --footer-bg-color: rgba(0, 0, 0, 0.1);
  --link-color: #008000;
  --link-hover-color: #00c000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-bg-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

a:focus {
  outline-color: var(--link-hover-color);
}
