
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  color: #008000;
}

a:hover {
  color: #00c000;
  text-decoration: none;
}

a:focus {
  outline-color: #00c000;
}
